body {
	margin: 0 auto;
	background: #030405;

}
svg {
	cursor: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
	left: 50%;
	transform: translate(-50%);
}
#car, #lights, #lightPath {
	transition: 3000ms;
}